/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Cor de fundo leve */
    color: #212529; /* Cor do texto */
    line-height: 1.6;
    padding: 20px;
  }
  .header {
    text-align: left;
    margin-bottom: 30px;
  }

  .logo {
    max-width: 150px;
    height: auto;
  }

  .mobile-logo {
    max-width: 40px;
    display: none;
  }
  
  .lei-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #007bff; /* Azul característico */
  }
  
  .lei-titulo {
    font-size: 26px;
    font-weight: bold;
    color: #0056b3; /* Azul mais escuro */
    margin-bottom: 10px;
    border-bottom: 2px solid #e9ecef; /* Linha inferior */
    padding-bottom: 10px;
  }
  
  .lei-subtitulo {
    font-size: 18px;
    font-weight: normal;
    color: #6c757d; /* Cor de subtítulo */
    margin-bottom: 30px;
  }
  
  .artigo {
    margin-bottom: 30px;
  }
  
  .artigo-numero {
    font-size: 20px;
    font-weight: bold;
    color: #007bff; /* Azul */
    margin-bottom: 8px;
  }
  
  .artigo-texto {
    font-size: 16px;
    color: #212529; /* Cor do texto padrão */
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 10px;
  }
  
  .artigo-texto p {
    margin-bottom: 10px; /* Espaçamento entre parágrafos */
  }
  
  @media (max-width: 768px) {

  .desktop-logo {
    display:none;
  }

  .mobile-logo {
    display: block;
  }
    .lei-container {
      padding: 20px;
    }
  
    .lei-titulo {
      font-size: 24px;
    }
  
    .lei-subtitulo {
      font-size: 16px;
    }
  
    .artigo-numero {
      font-size: 18px;
    }
  
    .artigo-texto {
      font-size: 14px;
    }
  }
  